@import 'styles/global/mixins';

$sizes: (
  'sm': 0.875rem,
  'md': 1rem,
);

@each $key, $value in $labels {
  @include LabelColor($key, $value);
}

@each $key, $value in $sizes {
  @include LabelSize($key, $value);
}

@mixin label-setup {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  max-width: 15rem;
  margin: 0.25rem;
}

.solid_label {
  @include label-setup;
  background-color: black;
  color: white;
}

.outline_label {
  @include label-setup;
  background-color: white;
  color: black;
}
