@import 'styles/global/mixins';

.container {
  background-color: white;
  position: relative;
}

.container + .container {
  @include medium-down {
    margin-top: $padding-row;
  }

  @include medium-up {
    border-top: 0.125rem dashed #dee2e6;
  }
}

.wrap {
  padding-bottom: $padding-row;

  @include medium-up {
    padding-right: $padding-row;
    padding-left: $padding-row;
    padding-top: $padding-row;
  }

  @include medium-down {
    box-shadow: $box-shadow-page;
  }
}

.wrap.simple {
  padding: $padding-row;
}

.center.wrap {
  @include medium-up {
    align-items: center;
  }
}

.double.wrap {
  @include medium-up {
    grid-template-columns: 2fr 1fr;
    column-gap: $padding-row;
    display: grid;
  }
}
