@import 'styles/global/mixins';

.container {
  background-color: white;
  position: relative;
}

.container + .container {
  @include medium-down {
    margin-top: $padding-row;
  }

  @include medium-up {
    border-top: 0.125rem dashed #dee2e6;
  }
}

.wrap {
  padding: $padding-row;

  @include medium-down {
    box-shadow: $box-shadow-page;
  }
}

.wrap.grid_mode {
  @include medium-down {
    padding-bottom: 2.25rem;
    padding-right: 0;
    padding-left: 0;
  }
}

.wrap.title_mode {
  @include double-row;
  @include medium-up {
    align-items: center;
  }
}

.wrap.double {
  @include double-row;
}

.wrap h1 {
  @include medium-down {
    font-size: $h3-font-size;
  }
}
