@import 'styles/global/mixins';

.container {
  grid-template-columns: 1.5rem auto;
  display: grid;
}

.number {
  position: relative;
  color: #a0a19e;
  top: 0.3125rem;
}

.details {
  overflow: hidden;
}

.wrap_name {
  font-size: 0;
}

.name {
  @include track_name;
}

.wrap_artist_name {
  font-size: 0;
}

.artist_name {
  @include track_name;
  color: #a0a19e;
}
