@import 'styles/global/mixins';

.track {
  grid-template-columns: 2rem auto;
  display: grid;
}

.track_number {
  color: #a0a19e;
}

.track_details {
  padding-left: 0.25rem;
  overflow: hidden;
}

.track_name {
  @include track_name;
}

.artist_name {
  @include track_name;
  color: #a0a19e;
}
