@import 'styles/global/mixins';

.container {
  grid-template-columns: 2rem auto;
  display: grid;
}

.number {
  padding-top: 0.25rem;
  color: #a0a19e;
}

.details {
  padding-left: 0.25rem;
  overflow: hidden;
}

.wrap_name {
  font-size: 0;
}

.name {
  @include track_name;
}

.wrap_artist_name {
  font-size: 0;
}

.artist_name {
  @include track_name;
  color: #a0a19e;
}
