---
const { name, class: className } = Astro.props;
const href = name == "home" ? "/" : "/" + name;
const matches = Astro.url.pathname == href;
const classes = ["link", name + "-link", className];
---

{
  matches ? (
    <div class:list={classes}>
      <slot />
    </div>
  ) : (
    <a href={href} class:list={classes}>
      <slot />
    </a>
  )
}
