@import 'styles/global/mixins';

.canvas_container {
  background-color: $c-teal;
  padding: $padding-canvas;
  overflow: hidden;
}

.canvas_wrap {
  justify-content: center;
  display: grid;

  @include medium-up {
    justify-content: space-between;
    height: $height-windows;
    display: flex;
  }
}

.canvas_wrap + .credit_wrap {
  margin-top: $padding-canvas;
}

.windows {
  position: relative;

  @include medium-down {
    height: $height-windows;
  }
}

.credit_link {
  @include folder_words;
  border-radius: 0.25rem;

  @include focus {
    @include folder_words--focus;
  }
}
