@import 'styles/global/mixins';

.folders {
  position: relative;

  @include medium-down {
    max-width: $height-windows;
    margin: -0.75rem;
  }
}

.folder_container {
  @include invisible-button;
  @include medium-up {
    transition: right 300ms steps(3), top 300ms steps(3);
    position: absolute;
  }

  @include medium-down {
    margin: 0.75rem;
  }

  @include focus {
    .folder_words {
      @include folder_words--focus;
    }
  }
}

.folder_words {
  @include folder_words;
}
