@import 'styles/global/mixins';

.container {
  display: inline-block;
  position: relative;

  @include medium-up {
    transition: right 300ms steps(3), top 300ms steps(3);
    position: absolute;
  }
}

.wrap {
  @include invisible-button;

  @include medium-down {
    margin: 0.75rem;
  }

  @include focus {
    .folder_words {
      @include folder_words--focus;
    }
  }
}

.title {
  font-size: $h6-font-size;
  font-weight: 600;
}

.words {
  @include folder_words;
  max-width: 6.25rem;
}

.button {
  background-color: transparent;
  font-size: $h6-font-size;
  white-space: nowrap;
  padding: 0.625rem;
  cursor: pointer;
  display: block;
  color: inherit;
  border: none;
  width: 100%;
}

.button.even {
  background-color: darken(white, 8%);
}

.button.open {
  background-color: blue;
  color: white;
}
