@import 'styles/global/mixins';

.container {
  padding-bottom: 8rem;
  padding-top: 5rem;
}

.title {
  margin-bottom: 1rem;
}

.copy {
  font-size: 1.5rem;
  font-weight: 400;

  a {
    @include focus {
      @include gold-box;
    }
  }
}
