@import "./variables/colors";

$font-sans-serif: arial, sans-serif;
$font-family-body: $font-sans-serif;
$font-family-headings: $font-sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$line-height: 1.5;

$h1-font-size: 2.75rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.75rem;
$font-size-body: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

$border-banner-width: 0.25rem;

$border-banner: $border-banner-width solid black;

$border-dashed: 0.125rem dashed #dee2e6;

$border-radius-sm: 0.25rem;

$border-radius-lg: $border-radius-sm * 2;

$min-width-site: 20rem;

$plusp: 1rem;

$max-width-wrap: 62rem;

$width-window: 16rem;

$padding-row-hz: 0.75rem;
$padding-link: 0.75rem;
$padding-canvas: 2rem;
$padding-tag: 0.5rem 0.75rem;
$padding-row: 1.75rem;
$padding-trello: 0.625rem;

$height-section: 32rem;
$height-banner: 5.5rem;

$box-shadow-window: 0 0 0.375rem rgba(black, 0.2);
$box-shadow-page: 0 0 0.5rem #dee2e6;

$gap-links: 1.5rem;

$margin-button: $padding-row + 1.125rem;
