---
let { name, color, size = 'sm', variant = 'solid', primary } = Astro.props

if (!color) {
  variant = 'outline'
  color = primary
}

const labelProps = {
  class: `label ${variant} ${size} ${color}`,
}
---

<div {...labelProps}>
  {name}
</div>

<style lang="scss">
  @import '~styles/mixins';

  $sizes: (
    'sm': 0.875rem,
    'md': 1rem,
  );

  @each $key, $value in $labels {
    @include LabelColor($key, $value);
  }

  @each $key, $value in $sizes {
    @include LabelSize($key, $value);
  }

  .label {
    @include label-setup;
  }

  .solid {
    background-color: dimgrey;
    color: white;
  }

  .outline {
    background-color: white;
    color: dimgrey;
  }
</style>
