@import 'styles/global/variables';
@import 'styles/global/mixins/breakpoints';
@import 'styles/global/mixins/buttons';
@import 'styles/global/mixins/colors';
@import 'styles/global/mixins/focus';
@import 'styles/global/mixins/spotify';

@mixin form_row {
  display: grid;

  + .row {
    border-top: 1px solid $c-topbar;
  }

  @include large-up {
    grid-template-columns: 8rem auto;
    align-items: center;
  }
}

@mixin window {
  box-shadow: $box-shadow-window;
  border-radius: 0.5rem;
  width: $width-window;
  font-size: 1.125rem;
  overflow: hidden;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin folder_words {
  background-color: $c-teal--dark;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  color: white;
}

@mixin folder_words--focus {
  background-color: white;
  color: $c-teal--dark;
}
