@import 'styles/global/variables';
@import 'styles/global/mixins/breakpoints';
@import 'styles/global/mixins/buttons';
@import 'styles/global/mixins/focus';
@import 'styles/global/mixins/folder';
@import 'styles/global/mixins/form';
@import 'styles/global/mixins/hero';
@import 'styles/global/mixins/label';
@import 'styles/global/mixins/menu';
@import 'styles/global/mixins/row';
@import 'styles/global/mixins/spotify';
@import 'styles/global/mixins/theme';

@mixin size($value) {
  height: $value;
  width: $value;
}

@mixin window {
  box-shadow: $box-shadow-window;
  border-radius: 0.5rem;
  width: $width-window;
  font-size: 1.125rem;
  overflow: hidden;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
