@import 'variables/colors';

$font-sans-serif: arial, sans-serif;
$font-family-body: $font-sans-serif;
$font-family-headings: $font-sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$line-height: 1.4;

$font-size-h1: 2.75rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.5rem;
$font-size-body: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

$border-radius-lg: 0.5rem;

$min-width-site: 20rem;

$plusp: 1rem;

$max-width-wrap: 60rem;

$width-window: 16rem;

$padding-row-hz: 0.75rem;
$padding-link: 0.75rem;
$padding-canvas: 2rem;
$padding-tag: 0.5rem 0.75rem;

$height-section: 30rem;
$height-windows: 25rem;

$box-shadow-window: 0 0 0.375rem rgba(black, 0.3);
$box-shadow-page: 0 0 0.5rem #dee2e6;
