@import 'styles/global/mixins';

.container {
  padding: 2rem 7vw 0;

  @include small-up {
    padding: 5rem 2rem 0;
  }
}

.window {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: $box-shadow-page;
}
