@import 'styles/global/mixins';

.footer_wrap {
  background-color: black;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.link {
  @include focus {
    @include single-box($c-focus);
    background-color: $c-focus;
    color: black;
  }
}
