@import 'styles/global/mixins';

@each $hero, $map in $heroes {
  @include ThemeBanner($hero, map-get($map, banner));
  @include ThemeContainer($hero, map-get($map, bg));
  @include ThemeLink($hero, map-get($map, svg));
}

@mixin grid {
  place-items: center;
  display: grid;
}

.banner {
  @include small-down {
    height: $height-banner + ($border-banner-width * 2);
  }
}

.container {
  @include grid;
  background-color: lightgrey;
  text-align: center;
  overflow: hidden;
  height: 24rem;

  @include small-up {
    height: $height-section;
  }

  > div,
  > h1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  path {
    display: none;
  }
}

.container.loop_606d7 path {
  &[class='st0'],
  &[class='st1'] {
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke: $c-606d7-svg;
    fill: none;

    @include small-down {
      stroke: $c-606d7-banner;
    }
  }

  &[class='st0'] {
    stroke-width: 5;
  }

  &[class='st1'] {
    stroke-width: 3;
  }

  &[class='st2'] {
    fill: $c-606d7-svg;
  }
}

.container.loop_60734 path {
  &[class='st0'],
  &[class='st1'] {
    stroke-linecap: square;
    stroke: $c-60734-svg;
    stroke-width: 6;
    fill: none;

    @include small-down {
      stroke: $c-60734-banner;
    }
  }

  &[class='st1'] {
    stroke-linejoin: round;
  }
}

.container.loop_6491c path {
  &[class='st2'] {
    fill: $c-6491c-svg;
    stroke: none;

    @include small-down {
      stroke: $c-6491c-banner;
    }
  }

  &[class='st0'],
  &[class='st1'] {
    stroke: $c-6491c-svg;
    stroke-miterlimit: 10;
    stroke-width: 2;
    fill: none;

    @include small-down {
      stroke: $c-6491c-banner;
    }
  }

  &[class='st1'] {
    stroke-width: 3;
  }
}

.name {
  max-width: $max-width-wrap;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  bottom: 0.5rem;
  z-index: 2;

  @include small-up {
    bottom: -0.5rem;
  }
}

.link {
  padding: 0.375rem;

  @include focus {
    outline: none;
  }
}

.artwork {
  transform: scale(2);
  position: relative;
  bottom: -0.5rem;
  z-index: 1;

  @include small-up {
    bottom: -1rem;
  }
}
