@import 'styles/global/mixins';

@mixin grid-position {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container.loop_606d7 {
  @include hero-colors($c-hero-a...);
}

.container.loop_60734 {
  @include hero-colors($c-hero-b...);
}

.container {
  background-color: lightgrey;
  height: $height-section;
  place-items: center;
  text-align: center;
  overflow: hidden;
  display: grid;
}

.name a {
  line-height: $line-height;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.name {
  @include grid-position;
  padding-right: 2rem;
  padding-left: 2rem;
  z-index: 2;

  @include small-down {
    font-size: 2.25rem;
  }
}

.link {
  padding: 0.375rem;
}

.svg {
  @include grid-position;
  transform: scale(2);
  position: relative;
  top: 2rem;
}
