@import 'styles/global/mixins';

@mixin grid-position {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container {
  background-color: lightgrey;
  height: $height-section;
  place-items: center;
  text-align: center;
  overflow: hidden;
  display: grid;

  &.loop_60734 {
    background-color: $c-60734-a;
  }
}

.container.loop_606d7 {
  background-color: $c-606d7-a;

  path {
    &[class='st0'],
    &[class='st1'] {
      stroke-linecap: square;
      stroke-miterlimit: 10;
      stroke: $c-606d7-b;
      fill: none;

      @include small-down {
        stroke: $c-606d7-c;
      }
    }

    &[class='st0'],
    &[class='st1'],
    &[class='st2'] {
      display: none;
    }

    &[class='st0'] {
      stroke-width: 5;
    }

    &[class='st1'] {
      stroke-width: 4;
    }

    &[class='st2'] {
      fill: $c-606d7-b;
    }
  }
}

.name {
  @include grid-position;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  z-index: 2;
}

.link {
  padding: 0.375rem;

  @include small-down {
    letter-spacing: -0.01em;
    text-decoration: none;
  }

  @include focus-visible {
    outline: none;
  }

  &.loop_606d7 {
    @include focus-visible {
      background-color: $c-606d7-b;
    }
  }

  &.loop_60734 {
    @include focus-visible {
      background-color: $c-60734-b;
    }
  }
}

@mixin svg {
  @include grid-position;
  transform: scale(2);
  position: relative;
  top: 1rem;
}

.front {
  @include svg;
  z-index: 3;
}

.back {
  @include svg;
  z-index: 1;
}
