@import 'styles/global/mixins';

.marquee_container {
  text-align: center;
  position: relative;
}

.tab_container {
  position: absolute;
  top: -3.25rem;
  width: 100%;
}

.tab_wrap {
  $border-radius: 0.25rem;

  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  padding: 0.625rem 0.75rem 0.75rem;
  background-color: black;
  display: inline-block;
}

.tab_link {
  border-bottom: 0.125rem solid white;
  text-decoration: none;
  display: inline-block;
  color: white;

  @include focus {
    border-bottom-style: dashed;
  }
}

.row_container {
  $border: 0.25rem solid black;
  $padding: 0.75rem;

  background-color: white;
  border-bottom: $border;
  white-space: nowrap;
  border-top: $border;
  position: relative;
  overflow: hidden;
  z-index: 2;

  a {
    padding-bottom: $padding;
    padding-top: $padding;
    display: inline-block;

    @include focus {
      background-color: $c-lemon;
    }
  }
}

.repeat_container {
  justify-content: center;
  display: flex;
  gap: 1rem;
}
