@import 'styles/global/mixins';

.marquee_container {
  text-align: center;
  position: relative;
}

.tab_container {
  position: absolute;
  line-height: 1;
  top: -3.125rem;
  width: 100%;
}

.tab_link {
  $border: 0.25rem solid transparent;
  $border-radius: 0.25rem;

  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  padding: 0.75rem 0.75rem 0.875rem;
  text-decoration: underline;
  background-color: black;
  border-right: $border;
  display: inline-block;
  border-left: $border;
  border-top: $border;
  color: white;

  @include focus {
    @include single-box(white);
  }
}

.row_container {
  $border: 0.25rem solid black;
  $padding: 0.75rem;

  background-color: white;
  border-bottom: $border;
  white-space: nowrap;
  border-top: $border;
  position: relative;
  overflow: hidden;
  z-index: 2;

  a {
    padding-bottom: $padding;
    display: inline-block;
    padding-top: $padding;

    @include focus {
      background-color: lightgoldenrodyellow;
    }
  }
}

.repeat_container {
  justify-content: center;
  display: flex;
  gap: 1rem;
}
