@import 'styles/global/mixins';

.marquee_container {
  text-align: center;
  position: relative;
  z-index: 4;
}

.tab_container {
  transition: top 300ms;
  position: absolute;
  width: 100%;
  top: 0;

  @include small-up {
    top: -2.75rem;
  }
}

.tab_wrap {
  $border-radius: 0.25rem;

  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  background-color: black;
  padding: 0.5rem 0.875rem;
  letter-spacing: -0.01em;
  display: inline-block;
}

.tab_link {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.row_container {
  $border: 0.25rem solid black;
  $padding: 0.75rem;

  background-color: white;
  border-bottom: $border;
  white-space: nowrap;
  border-top: $border;
  position: relative;
  overflow: hidden;
  z-index: 2;

  a {
    padding-bottom: $padding;
    padding-top: $padding;
    display: inline-block;

    @include focus {
      background-color: $c-lemon;
    }
  }
}

.repeat_container {
  justify-content: center;
  display: flex;
  gap: 1rem;
}
