@import 'styles/global/mixins';

$border-radius-links: 0.25rem;

@mixin mobile-focus($color) {
  @include small-down {
    @include focus {
      background-color: $color;
    }

    &.active {
      background-color: $color;
    }
  }
}

@mixin mobile-link {
  border-radius: $border-radius-links;
  padding: 0.5rem;

  svg {
    display: block;
  }
}

@mixin desktop-link {
  padding-bottom: $padding-link;
  padding-top: $padding-link;
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;

  svg {
    fill: currentColor;
  }

  &.active {
    user-select: none;
    cursor: default;
  }
}

@mixin about_active($a, $b) {
  @include single-box($a);
  background-color: $b;
  color: $a;
}

@mixin resume_active {
  border-bottom-color: currentColor;
}

@mixin link-color($color) {
  @include small-down {
    background-color: $color;
  }
}

.home_container {
  padding-right: 2rem;
  padding-left: 2rem;
  position: absolute;
  padding-top: 2rem;
  z-index: 4;
  right: 0;
  left: 0;

  &.loop_606d7 {
    color: black;
  }

  &.loop_60734 {
    color: black;
  }
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  padding-top: 2rem;
  z-index: 2;
}

.wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.links {
  display: flex;
  gap: 0.5rem;

  @include small-up {
    gap: 1.5rem;
  }
}

.link {
  @include mobile-focus($c-gray-5);

  &.loop_606d7 {
    @include mobile-focus($c-606d7-b);
  }

  &.loop_60734 {
    @include mobile-focus($c-60734-b);
  }
}

.home_link {
  @include desktop-link;
  border-bottom: 0.3125rem solid transparent;

  &,
  svg {
    display: block;
  }
}

a.home_link {
  @include focus {
    @include resume_active;
  }
}

.resume_link {
  @include small-down {
    @include mobile-link;
  }

  @include small-up {
    @include desktop-link;
    border-bottom: 0.3125rem solid transparent;

    &.active {
      @include resume_active;
    }

    @include focus {
      @include resume_active;
    }
  }
}

.about_link {
  $background-color: black;
  $color: white;

  @include small-down {
    @include mobile-link;
    border-radius: 50%;
  }

  @include small-up {
    @include desktop-link;
    background-color: $background-color;
    padding-right: $padding-link;
    padding-left: $padding-link;
    border-radius: 0.25rem;
    color: $color;

    &.active {
      @include about_active(black, white);
    }

    @include focus {
      @include about_active(black, white);
    }
  }
}
