@import 'styles/global/mixins';

$border-radius-links: 0.25rem;
$gap-links: 1.5rem;

@mixin block-svg {
  &,
  svg {
    display: block;
  }
}

@mixin active-style {
  &.active {
    user-select: none;
    cursor: default;
  }
}

@mixin flex {
  justify-content: center;
  align-items: center;
  gap: $gap-links;
  display: flex;
}

@mixin container {
  $border: 0.25rem solid black;
  padding: $gap-links;

  @include small-down {
    background-color: $c-body-svg-sm;
    border-bottom: $border;
    border-top: $border;
  }

  @include small-up {
    padding: 2.5rem 2rem;
  }
}

@mixin small-focus {
  @include small-down {
    @include focus {
      @content;
    }

    &.active {
      @content;
    }
  }
}

@mixin focus_about($a, $b) {
  @include small-up {
    @include single-box($a);
    background-color: $b;
    color: $a;
  }
}

@mixin focus_resume {
  border-color: black;
}

@mixin id($id) {
  [id='#{$id}'] {
    @content;
  }
}

.container {
  @include container;
}

.home_container {
  @include container;

  @include small-up {
    position: absolute;
    z-index: 4;
    right: 0;
    left: 0;
  }
}

.home_container {
  &.loop_606d7 {
    @include small-down {
      background-color: $c-606d7-svg-sm;
    }
  }

  &.loop_60734 {
    @include small-down {
      background-color: $c-60734-svg-sm;
    }
  }
}

.wrap {
  @include flex;

  @include small-up {
    justify-content: space-between;
  }
}

.links {
  @include flex;
}

.link {
  @include small-up {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.link {
  @include small-focus {
    @include single-box(white, 0.375rem);
    background-color: white;
  }
}

.home_link {
  @include block-svg;
  @include active-style;
  margin: -0.25rem;
}

a.home_link {
  @include focus {
    @include id(logo) {
      @include small-up {
        fill: transparent;
      }
    }

    @include id(focus) {
      display: block;
      fill: white;

      @include small-up {
        fill: black;
      }
    }
  }
}

.about_link {
  @include block-svg;
  @include active-style;

  @include small-down {
    border-radius: 50%;
  }

  @include small-up {
    border-radius: $border-radius-links;
    padding: $padding-link;
  }
}

.about_link.active {
  @include focus_about(black, white);
}

a.about_link {
  @include small-up {
    background-color: black;
    text-decoration: none;
    color: white;

    @include focus {
      @include focus_about(black, white);
    }
  }
}

.resume_link {
  @include block-svg;
  @include active-style;

  @include small-down {
    border-radius: $border-radius-links;
  }

  @include small-up {
    border: 0.125rem dotted transparent;
    padding: 0.375rem;
  }
}

.resume_link.active {
  @include focus_resume;
}

a.resume_link {
  @include small-up {
    @include focus {
      @include focus_resume;
    }
  }
}
