@import 'styles/global/variables';

.home_container {
  padding-right: 2rem;
  padding-left: 2rem;
  position: absolute;
  padding-top: 2rem;
  z-index: 2;
  right: 0;
  left: 0;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  padding-top: 2rem;
  z-index: 2;
}

.wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.active {
  background: red;
}

.links {
  gap: $padding-link * 2;
  align-content: center;
  display: flex;
}

.link {
  padding-bottom: $padding-link;
  padding-top: $padding-link;
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;

  svg {
    fill: currentColor;
  }
}

.link_home {
  composes: link;

  &,
  svg {
    display: block;
  }
}

.about_link {
  composes: link;
  padding-right: $padding-link;
  padding-left: $padding-link;
  background-color: black;
  border-radius: 0.25rem;
  color: white;
}
