@import 'styles/global/mixins';

.wrap {
  @include medium-up {
    box-shadow: $box-shadow-page;
    max-width: 50rem;
  }

  a {
    @include focus {
      @include gold-box;
    }
  }
}

.label_wrap {
  margin: 0 -0.25rem 0.25rem;
}

.column {
  @include medium-down {
    border-top: 0.125rem dashed #dee2e6;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    padding-top: 1.75rem;
    margin-top: 1.75rem;
  }
}

.left_column {
  @include medium-down {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    padding-top: 1.75rem;
    margin-bottom: 1rem;
  }
}

.title_wrap {
  @include title_wrap;
}

.copy_wrap {
  @include medium-down {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }
}

.link_wrap {
  @include medium-down {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }
}

.due_wrap {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  color: $c-gray-7;
}

.desc_wrap {
  color: $c-gray-7;
  font-size: 1rem;
}

.skills_wrap {
  margin: -0.25rem;

  @include medium-down {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }
}

.more {
  padding: 0.1875rem 0.375rem 0.25rem;
  background-color: transparent;
  border: 1px solid $c-gray-7;
  font-size: $font-size-h6;
  border-radius: 0.25rem;
  font-weight: bold;
  color: $c-gray-7;
  cursor: pointer;
  margin: 0.25rem;
  line-height: 1;

  @include focus {
    background-color: $c-gray-7;
    color: white;
  }
}
