$spotify-bg: #0d100a;
$spotify-header: #222b1b;
$spotify-text: #a0a19e;

$trello-bg: #ebecf0;
$trello-text: #172b4e;
$trello-text--faded: #5f6c84;

$c-gray-1: #f8f9fa;
$c-gray-2: #e9ecef;
$c-gray-3: #dee2e6;
$c-gray-4: #ced4da;
$c-gray-5: #adb5bd;
$c-gray-6: #6c757d;
$c-gray-7: #495057;
$c-gray-8: #343a40;
$c-gray-9: #212529;

$c-topbar: $c-gray-5;

$c-blue: #007bff;
$c-indigo: #6610f2;
$c-purple: #6f42c1;
$c-pink: #e83e8c;
$c-red: #dc3545;
$c-orange: #fd7e14;
$c-yellow: #ffc107;
$c-green: #28a745;

$c-teal: #20c997;
$c-teal--dark: darken($c-teal, 10%);
$c-teal--xdark: darken($c-teal, 20%);
$c-teal--xxdark: darken($c-teal, 35%);

$c-cyan: #17a2b8;
$c-sky: #87cefa;

$c-lemon: lightgoldenrodyellow;
$c-gold: #f5c356;

$c-hero-a1: hsl(230, 100%, 60%);
$c-hero-a2: hsl(150, 100%, 60%);
$c-hero-a3: hsl(170, 100%, 70%);

$c-hero-b1: hsl(45, 100%, 50%);
$c-hero-b2: hsl(1, 100%, 65%);
$c-hero-b3: hsl(50, 100%, 70%);

$c-hero-a: $c-hero-a1, $c-hero-a2, $c-hero-a3;
$c-hero-b: $c-hero-b1, $c-hero-b2, $c-hero-b3;

$c-status-neutral-fade: hsl(205, 100%, 95%);
$c-status-neutral-light: hsl(205, 100%, 75%);
$c-status-neutral: hsl(205, 100%, 37%);

$c-status-error-fade: hsl(0, 45%, 95%);
$c-status-error-light: hsl(0, 45%, 75%);
$c-status-error: hsl(0, 45%, 37%);

$c-status-success-fade: hsl(120, 30%, 95%);
$c-status-success-light: hsl(120, 30%, 75%);
$c-status-success: hsl(120, 30%, 37%);
