<div class="content">
  <slot />
</div>

<style lang="scss">
  @import '~styles/mixins';

  .content {
    padding: ($padding-row * 1.5) 2rem;
    font-size: 1.375rem;

    @include small-up {
      padding-bottom: 9rem;
    }
  }
</style>
