---
import Window from '~components/Desktop/Folder/Window.astro'
import Success from '~components/Form/Success.astro'
import Form from '~components/Form.astro'

const windowProps = {
  class: 'window',
  dummy: true,
  size: 'lg',
}
---

<div id="contact" class="container">
  <div class="wrap">
    <Window {...windowProps}>
      <Success />
      <Form />
    </Window>
  </div>
</div>

<style lang="scss">
  @import '~styles/mixins';

  .container {
    background-color: $c-body-bg;
    padding: 2rem 7vw 0;

    @include small-up {
      padding: 5rem 2rem 0;
    }
  }

  .wrap {
    @include wrap;
    max-width: 40rem;
  }

  .window {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>
