---
import personal from '~data/personal.js'

const { email } = personal

const linkProps = {
  href: `mailto:${email}`,
  class: 'link',
}
---

<div id="footer" class="container">
  <span>Say hello :)</span>
  <a {...linkProps}>{email}</a>
</div>

<style lang="scss">
  @import '~styles/mixins';

  .container {
    background-color: black;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }

  .link {
    @include focus {
      @include lemon-box;
    }
  }
</style>
