---
const { color, style } = Astro.props
---

<div class={`label ${style} ${color}`}>
  <slot />
</div>

<style lang="scss">
  @import '~styles/mixins';

  .label {
    border-radius: $border-radius-sm;
    display: inline-block;
    border: 1px solid;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.25rem;
    line-height: 1;
  }

  .label.solid {
    background-color: grey;
    border-color: grey;
    color: white;
  }

  .label.outline {
    border-color: currentColor;
    background-color: white;
    color: grey;
  }

  @each $key, $value in $labels {
    @include LabelColor($key, $value);
  }
</style>
