@import 'styles/global/mixins';

.outer {
  position: absolute;
  text-align: left;
}

.header {
  grid-template-columns: 80px auto 32px;
  display: grid;
  gap: 0.5rem;
}

.main {
  max-height: $width-window;
  overflow: scroll;
  padding: 0.75rem;
}

.window {
  @include window;
  background-color: #000;
  color: #fff;
}
