@import 'styles/global/mixins';

.outer {
  position: absolute;
  text-align: left;
}

.window {
  @include window;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 1rem;
}

.copy {
  justify-content: space-between;
  margin-bottom: -0.75rem;
  font-weight: 400;
  display: flex;
}

.name {
  @include focus {
    @include single-box($c-lemon);
    background-color: $c-lemon;
    color: black;
  }
}
