@import 'styles/global/mixins';

@mixin header {
  justify-content: space-between;
  padding: $padding-trello;
  align-items: center;
  display: flex;
}

.outer {
  position: absolute;
  text-align: left;
}

.window {
  @include window;
  background-color: $c-trello-background;
  padding-right: $padding-trello;
  padding-left: $padding-trello;
  color: $c-trello-text;
  font-weight: 600;
}

.header {
  @include header;
}

.row + .row {
  margin-top: $padding-trello;
}

.card {
  box-shadow: 0 0.125rem $c-trello-text;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  overflow: hidden;
  display: block;

  @include focus {
    @include single-box($c-trello-text, 0.1875rem);
  }
}

.footer {
  padding: $padding-trello;

  > div {
    grid-template-columns: 1.875rem auto 1.875rem;
    color: $c-trello-text;
    align-items: center;
    text-align: center;
    display: grid;
  }
}

.label_wrap {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  margin-top: 0.25rem;
}
