---
import Folder from '~components/Desktop/Folder.astro'
---

<div class="position">
  <Folder {...Astro.props} />
</div>

<style lang="scss">
  @import '~styles/mixins';

  .position {
    @include position-folder;

    @include medium-up {
      right: 200px;
      top: 40px;
    }
  }

  .position[data-count='1'] {
    @include medium-up {
      right: 160px;
      top: 90px;
    }
  }
</style>
