@import 'styles/global/mixins';

.row {
  @include form_row;

  @include large-up {
    border-bottom: 1px solid $c-gray-5;
  }

  @include large-down {
    padding-top: 0.75rem;
  }
}

.input {
  @include form_input;
}

.input + .alert {
  @include large-up {
    grid-column: 2;
  }
}

.input + .alert[data-error='true'] {
  border-right: none;

  @include large-up {
    border-bottom: none;
  }
}
