@import 'styles/global/mixins';

.row {
  text-align: right;
  padding: 1rem;
}

.button {
  @include invisible-button;
  font-weight: bold;
  padding: 1rem;

  @include focus {
    background-color: $c-gray-6;
    color: white;
  }
}
