@import 'styles/global/mixins';

.label {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: block;
}

.textarea {
  @include form_input;
  display: block;
  height: 8rem;
  resize: none;

  @include large-up {
    height: 18rem;
  }
}
