<div id="time" class="container">
  <span class="hours">12</span>
  <span class="separator">:</span>
  <span class="minutes">00</span>
</div>

<style lang="scss">
  @import '~styles/mixins';

  .container {
    @include topbar-icon;
  }
</style>
