<div class="controls">
  <button class="prev-page">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="21"
      viewBox="0 0 74.7 116.7"
      ><path
        d="M58.5 116.7L74.3 101 39.9 68.8l-7.2-6.6-4.4-3.9L40 47.7l34.7-31.4L58.5 0 0 58.9z"
      ></path></svg
    >
  </button>
  <slot />
  <button class="next-page">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="21"
      viewBox="0 0 74.7 116.7"
      ><path
        d="M16.2 0L.3 15.7l34.4 32.1 7.3 6.7 4.3 3.8L34.7 69 0 100.3l16.2 16.4 58.5-58.9z"
      ></path></svg
    >
  </button>
</div>

<style lang="scss">
  @import '~styles/mixins';

  $size: 2.125rem;
  $bump_sm: $padding-row * 0.625;
  $bump_lg: $padding-row * 0.75;

  @mixin button {
    background-color: white;
    border-radius: 50%;
    padding: 0.375rem;
    border: 1px solid;
    height: $size;
    width: $size;

    @include medium-down {
      transform: rotate(90deg);
      position: absolute;
      margin: auto;
      right: 0;
      left: 0;
    }

    @include medium-up {
      justify-content: center;
      align-items: center;
      position: relative;
      display: flex;
      top: 7.5rem;
    }

    &:disabled {
      opacity: 0;
    }

    @include focus {
      background-color: black;
      fill: white;
    }

    svg {
      position: relative;
    }
  }

  .controls {
    position: relative;

    @include medium-up {
      grid-template-columns: $padding-row auto $padding-row;
      align-items: flex-start;
      display: grid;
    }
  }

  .prev-page {
    @include button;

    @include medium-down {
      top: -$bump_sm;
    }

    @include medium-up {
      justify-self: flex-start;
      right: $bump_lg;
    }

    svg {
      right: 1px;
    }
  }

  .next-page {
    @include button;

    @include medium-down {
      bottom: -$bump_sm;
    }

    @include medium-up {
      justify-self: flex-end;
      left: $bump_lg;
    }

    svg {
      left: 1px;
    }
  }
</style>
