---
const { items } = Astro.props

const listProps = {
  'data-group': Astro.props['data-group'],
  class: 'list',
}
---

<div {...listProps}>
  {
    items.map(function (item) {
      const itemProps = {
        'data-state': item.state,
        class: 'item',
      }
      return <button {...itemProps}>{item.title}</button>
    })
  }
</div>

<style lang="scss">
  @import '~styles/mixins';

  .item {
    background-color: transparent;
    font-size: $h6-font-size;
    white-space: nowrap;
    padding: 0.625rem;
    display: block;
    color: inherit;
    border: none;
    width: 100%;

    @include focus {
      background-color: black;
      color: white;
    }
  }

  .item:nth-child(even) {
    background-color: darken(white, 8%);

    @include focus {
      background-color: black;
      color: white;
    }
  }

  .item[data-state='open'] {
    background-color: blue;
    color: white;

    @include focus {
      background-color: black;
      color: white;
    }
  }
</style>
