@mixin track_name {
  @include text-overflow;
  display: inline-block;
  line-height: 1.2;
  max-width: 100%;

  @include focus {
    @include single-box($c-lemon);
    background-color: $c-lemon;
    color: black;
  }
}
