@mixin track_name {
  @include text-overflow;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  line-height: 1.2;
  max-width: 100%;
  display: block;

  @include focus {
    @include single-box($c-lemon);
    background-color: $c-lemon;
    color: black;
  }
}
