@mixin ThemeBanner($name, $color) {
  .banner.loop_#{$name} {
    background-color: $color;
  }
}

@mixin ThemeContainer($name, $color) {
  .container.loop_#{$name} {
    background-color: $color;
  }
}

@mixin ThemeLink($name, $color) {
  .link.loop_#{$name} {
    @include focus {
      background-color: $color;
    }
  }
}
