@import 'styles/global/mixins';

@mixin wrap-button {
  position: absolute;
  text-align: center;

  @include medium-down {
    right: 0;
    left: 0;
  }

  @include medium-up {
    top: 6.75rem;
  }
}

.prev_button {
  @include wrap-button;

  button {
    @include row-button('prev', 1.25rem);
  }

  @include medium-down {
    top: -1rem;
  }

  @include medium-up {
    left: -$margin-button;
  }
}

.next_button {
  @include wrap-button;

  button {
    @include row-button('next', 1.25rem);
  }

  @include medium-down {
    bottom: -2.5rem;
  }

  @include medium-up {
    right: -$margin-button;
  }
}
