@import 'styles/global/mixins';

.prev_button {
  @include setup-row-button;

  @include medium-down {
    top: -1rem;
  }

  @include medium-up {
    left: -$margin-button;
  }
}

.prev_button button {
  @include row-button('prev', 1.25rem, true);
}

.next_button {
  @include setup-row-button;

  @include medium-down {
    bottom: -3.25rem;
  }

  @include medium-up {
    right: -$margin-button;
  }
}

.next_button button {
  @include row-button('next', 1.25rem, true);
}
