---
import Folder from '~components/Desktop/Folder.astro'
import TrelloFolder from '~components/Desktop/Folders/Trello.astro'
import SpotifyFolder from '~components/Desktop/Folders/Spotify.astro'
import ThemeFolder from '~components/Desktop/Folders/Theme.astro'

const { items } = Astro.props
---

<div id="desktop_folders" class="folders">
  {
    items.map(function (item) {
      const { title } = item

      if (title == 'trello') return <TrelloFolder {...item} />

      if (title == 'spotify') return <SpotifyFolder {...item} />

      if (title == 'theme') return <ThemeFolder {...item} />

      return <Folder {...item} />
    })
  }
</div>

<style lang="scss">
  .folders {
    text-align: center;
    position: relative;
  }
</style>
