---
import Skiplink from '~components/Skiplink.astro'

const { title, state, class: className, group } = Astro.props

const outerProps = {
  'data-group': group,
  'data-state': state,
  class: 'outer ' + className,
  id: 'window_' + title,
}

const innerProps = {
  class: 'inner',
}
---

<div {...outerProps}>
  <Skiplink />
  <div {...innerProps}>
    <slot />
  </div>
</div>

<style lang="scss">
  @import '~styles/mixins';

  .outer {
    position: absolute;
    display: none;
    width: 16rem;
  }

  .outer[data-state='open'] {
    display: block;
  }

  .inner {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-window;
    background-color: white;
    font-size: 1.125rem;
    overflow: hidden;
    color: black;
  }
</style>
