---
import "/src/styles/global.scss";
import Head from "/src/components/Head.astro";
import Menu from "/src/components/Menu.astro";
import Marquee from "/src/components/Marquee.astro";
import Desktop from "/src/components/Desktop.astro";
import Contact from "/src/components/Contact.astro";
import Footer from "/src/components/Footer.astro";
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<script src="/src/scripts/layouts/main.js"></script>

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <Menu />
    <slot />
    <Marquee />
    <Desktop />
    <Contact />
    <Footer />
  </body>
</html>
