@import 'styles/global/mixins';

:root {
  --c-hero-a1: hsl(230, 100%, 60%);
  --c-hero-a2: hsl(150, 100%, 60%);
  --c-hero-a3: hsl(170, 100%, 70%);
  --c-hero-b1: hsl(45, 100%, 50%);
  --c-hero-b2: hsl(1, 100%, 65%);
  --c-hero-b3: rgb(255, 230, 102);
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-bold;
  background-color: $c-body-bg;
  font-size: $font-size-body;
  line-height: $line-height;
  padding: 0;
  margin: 0;

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: $font-family-headings;
  font-size: $font-size-h2;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-family: $font-family-headings;
  margin: 0;
}

h3 {
  font-family: $font-family-headings;
  font-size: $font-size-h3;
  margin: 0;
}

h4 {
  font-family: $font-family-headings;
  font-size: $font-size-h4;
  margin: 0;
}

h5 {
  font-family: $font-family-headings;
  font-size: $font-size-h5;
  margin: 0;
}

h6 {
  font-size: $font-size-h6;
  margin: 0;
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: $plusp;
  }

  a {
    // @include focus {
    //   @include single-box($focus--dark);
    //   background-color: $focus--dark;
    // }
  }
}

blockquote,
figure {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: $plusp;
  }
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 0;
}

.small-up {
  @include small-down {
    display: none;
  }
}

.small-down {
  @include small-up {
    display: none;
  }
}
